<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jyblife.logic.wl.ops.manage.mapper.LogisticsQuotaLogMapper" >
  <resultMap id="BaseResultMap" type="com.jyblife.logic.wl.ops.entity.LogisticsQuotaLog" >
    <id column="log_id" property="logId" jdbcType="BIGINT" />
    <result column="logistics_id" property="logisticsId" jdbcType="INTEGER" />
    <result column="category" property="category" jdbcType="INTEGER" />
    <result column="method" property="method" jdbcType="INTEGER" />
    <result column="relation_id" property="relationId" jdbcType="BIGINT" />
    <result column="quota" property="quota" jdbcType="INTEGER" />
    <result column="quota_total" property="quotaTotal" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="status_time" property="statusTime" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="create_user_id" property="createUserId" jdbcType="INTEGER" />
    <result column="effect_time" property="effectTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_user_id" property="updateUserId" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    log_id, logistics_id, category, method, relation_id, quota, quota_total, status, 
    status_time, remark, create_user_id, effect_time, create_time, update_user_id, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_logistics_quota_log
    where log_id = #{logId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_logistics_quota_log
    where log_id = #{logId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.jyblife.logic.wl.ops.entity.LogisticsQuotaLog" >
    insert into t_logistics_quota_log (log_id, logistics_id, category, 
      method, relation_id, quota, 
      quota_total, status, status_time, 
      remark, create_user_id, effect_time, 
      create_time, update_user_id, update_time
      )
    values (#{logId,jdbcType=BIGINT}, #{logisticsId,jdbcType=INTEGER}, #{category,jdbcType=INTEGER}, 
      #{method,jdbcType=INTEGER}, #{relationId,jdbcType=BIGINT}, #{quota,jdbcType=INTEGER}, 
      #{quotaTotal,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{statusTime,jdbcType=TIMESTAMP}, 
      #{remark,jdbcType=VARCHAR}, #{createUserId,jdbcType=INTEGER}, #{effectTime,jdbcType=TIMESTAMP}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateUserId,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jyblife.logic.wl.ops.entity.LogisticsQuotaLog" >
    insert into t_logistics_quota_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="logId != null" >
        log_id,
      </if>
      <if test="logisticsId != null" >
        logistics_id,
      </if>
      <if test="category != null" >
        category,
      </if>
      <if test="method != null" >
        method,
      </if>
      <if test="relationId != null" >
        relation_id,
      </if>
      <if test="quota != null" >
        quota,
      </if>
      <if test="quotaTotal != null" >
        quota_total,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="statusTime != null" >
        status_time,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
      <if test="effectTime != null" >
        effect_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateUserId != null" >
        update_user_id,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="logId != null" >
        #{logId,jdbcType=BIGINT},
      </if>
      <if test="logisticsId != null" >
        #{logisticsId,jdbcType=INTEGER},
      </if>
      <if test="category != null" >
        #{category,jdbcType=INTEGER},
      </if>
      <if test="method != null" >
        #{method,jdbcType=INTEGER},
      </if>
      <if test="relationId != null" >
        #{relationId,jdbcType=BIGINT},
      </if>
      <if test="quota != null" >
        #{quota,jdbcType=INTEGER},
      </if>
      <if test="quotaTotal != null" >
        #{quotaTotal,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="statusTime != null" >
        #{statusTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="effectTime != null" >
        #{effectTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null" >
        #{updateUserId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jyblife.logic.wl.ops.entity.LogisticsQuotaLog" >
    update t_logistics_quota_log
    <set >
      <if test="logisticsId != null" >
        logistics_id = #{logisticsId,jdbcType=INTEGER},
      </if>
      <if test="category != null" >
        category = #{category,jdbcType=INTEGER},
      </if>
      <if test="method != null" >
        method = #{method,jdbcType=INTEGER},
      </if>
      <if test="relationId != null" >
        relation_id = #{relationId,jdbcType=BIGINT},
      </if>
      <if test="quota != null" >
        quota = #{quota,jdbcType=INTEGER},
      </if>
      <if test="quotaTotal != null" >
        quota_total = #{quotaTotal,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="statusTime != null" >
        status_time = #{statusTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null" >
        create_user_id = #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="effectTime != null" >
        effect_time = #{effectTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null" >
        update_user_id = #{updateUserId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where log_id = #{logId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jyblife.logic.wl.ops.entity.LogisticsQuotaLog" >
    update t_logistics_quota_log
    set logistics_id = #{logisticsId,jdbcType=INTEGER},
      category = #{category,jdbcType=INTEGER},
      method = #{method,jdbcType=INTEGER},
      relation_id = #{relationId,jdbcType=BIGINT},
      quota = #{quota,jdbcType=INTEGER},
      quota_total = #{quotaTotal,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      status_time = #{statusTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR},
      create_user_id = #{createUserId,jdbcType=INTEGER},
      effect_time = #{effectTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_user_id = #{updateUserId,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where log_id = #{logId,jdbcType=BIGINT}
  </update>
</mapper>