<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jyblife.logic.wl.ops.manage.mapper.VehicleMapper" >
  <resultMap id="BaseResultMap" type="com.jyblife.logic.wl.ops.entity.Vehicle" >
    <id column="vehicle_id" property="vehicleId" jdbcType="INTEGER" />
    <result column="logistics_id" property="logisticsId" jdbcType="INTEGER" />
    <result column="number" property="number" jdbcType="VARCHAR" />
    <result column="model" property="model" jdbcType="VARCHAR" />
    <result column="optor" property="optor" jdbcType="VARCHAR" />
    <result column="capacity" property="capacity" jdbcType="DECIMAL" />
    <result column="start_date" property="startDate" jdbcType="DATE" />
    <result column="end_date" property="endDate" jdbcType="DATE" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="status_time" property="statusTime" jdbcType="TIMESTAMP" />
    <result column="effect_time" property="effectTime" jdbcType="TIMESTAMP" />
    <result column="create_user_id" property="createUserId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_user_id" property="updateUserId" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    vehicle_id, logistics_id, number, model, optor, capacity, start_date, end_date, remark, 
    status, state, status_time, effect_time, create_user_id, create_time, update_user_id, 
    update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_vehicle
    where vehicle_id = #{vehicleId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_vehicle
    where vehicle_id = #{vehicleId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jyblife.logic.wl.ops.entity.Vehicle" >
    insert into t_vehicle (vehicle_id, logistics_id, number, 
      model, optor, capacity, 
      start_date, end_date, remark, 
      status, state, status_time, 
      effect_time, create_user_id, create_time, 
      update_user_id, update_time)
    values (#{vehicleId,jdbcType=INTEGER}, #{logisticsId,jdbcType=INTEGER}, #{number,jdbcType=VARCHAR}, 
      #{model,jdbcType=VARCHAR}, #{optor,jdbcType=VARCHAR}, #{capacity,jdbcType=DECIMAL}, 
      #{startDate,jdbcType=DATE}, #{endDate,jdbcType=DATE}, #{remark,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{state,jdbcType=INTEGER}, #{statusTime,jdbcType=TIMESTAMP}, 
      #{effectTime,jdbcType=TIMESTAMP}, #{createUserId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateUserId,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.jyblife.logic.wl.ops.entity.Vehicle" >
    insert into t_vehicle
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="vehicleId != null" >
        vehicle_id,
      </if>
      <if test="logisticsId != null" >
        logistics_id,
      </if>
      <if test="number != null" >
        number,
      </if>
      <if test="model != null" >
        model,
      </if>
      <if test="optor != null" >
        optor,
      </if>
      <if test="capacity != null" >
        capacity,
      </if>
      <if test="startDate != null" >
        start_date,
      </if>
      <if test="endDate != null" >
        end_date,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="statusTime != null" >
        status_time,
      </if>
      <if test="effectTime != null" >
        effect_time,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateUserId != null" >
        update_user_id,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="vehicleId != null" >
        #{vehicleId,jdbcType=INTEGER},
      </if>
      <if test="logisticsId != null" >
        #{logisticsId,jdbcType=INTEGER},
      </if>
      <if test="number != null" >
        #{number,jdbcType=VARCHAR},
      </if>
      <if test="model != null" >
        #{model,jdbcType=VARCHAR},
      </if>
      <if test="optor != null" >
        #{optor,jdbcType=VARCHAR},
      </if>
      <if test="capacity != null" >
        #{capacity,jdbcType=DECIMAL},
      </if>
      <if test="startDate != null" >
        #{startDate,jdbcType=DATE},
      </if>
      <if test="endDate != null" >
        #{endDate,jdbcType=DATE},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="statusTime != null" >
        #{statusTime,jdbcType=TIMESTAMP},
      </if>
      <if test="effectTime != null" >
        #{effectTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null" >
        #{updateUserId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jyblife.logic.wl.ops.entity.Vehicle" >
    update t_vehicle
    <set >
      <if test="logisticsId != null" >
        logistics_id = #{logisticsId,jdbcType=INTEGER},
      </if>
      <if test="number != null" >
        number = #{number,jdbcType=VARCHAR},
      </if>
      <if test="model != null" >
        model = #{model,jdbcType=VARCHAR},
      </if>
      <if test="optor != null" >
        optor = #{optor,jdbcType=VARCHAR},
      </if>
      <if test="capacity != null" >
        capacity = #{capacity,jdbcType=DECIMAL},
      </if>
      <if test="startDate != null" >
        start_date = #{startDate,jdbcType=DATE},
      </if>
      <if test="endDate != null" >
        end_date = #{endDate,jdbcType=DATE},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="statusTime != null" >
        status_time = #{statusTime,jdbcType=TIMESTAMP},
      </if>
      <if test="effectTime != null" >
        effect_time = #{effectTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null" >
        create_user_id = #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null" >
        update_user_id = #{updateUserId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where vehicle_id = #{vehicleId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jyblife.logic.wl.ops.entity.Vehicle" >
    update t_vehicle
    set logistics_id = #{logisticsId,jdbcType=INTEGER},
      number = #{number,jdbcType=VARCHAR},
      model = #{model,jdbcType=VARCHAR},
      optor = #{optor,jdbcType=VARCHAR},
      capacity = #{capacity,jdbcType=DECIMAL},
      start_date = #{startDate,jdbcType=DATE},
      end_date = #{endDate,jdbcType=DATE},
      remark = #{remark,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      state = #{state,jdbcType=INTEGER},
      status_time = #{statusTime,jdbcType=TIMESTAMP},
      effect_time = #{effectTime,jdbcType=TIMESTAMP},
      create_user_id = #{createUserId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_user_id = #{updateUserId,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where vehicle_id = #{vehicleId,jdbcType=INTEGER}
  </update>
</mapper>